@import "tailwindcss";
@plugin "@tailwindcss/typography";

body {
    font-family: 'Inter';
}

@theme {
    --color-aside-dark: #181818;
    --color-body-dark: #121212;

    --color-light-blue: #60a5fa;
    --color-blue:#3b82f6;
    --color-blue-hover:#2563eb;
    --color-dark-purple: #22004F;
    --color-purple: #7B2FFF;
    --color-purple-hover: #A38CFF;

    --color-border-dark: #333;
    --color-border-hover: #555;

    --color-light-black: #111;

    --color-dark-gray: #555;
    --color-gray: #a0a0a0;
    --color-white: #e0e0e0;

    --color-card-dark: #070606;

    --color-success: #10b981;
    --color-error: #ef4444;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 4px;
}